.flex-container {
  display: flex;
}

.sidebar {
  width: 35%;
  z-index: +1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.location {
  margin: 30px 10px 0px 0px;
}

.small-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(38, 0, 255, 1);

}

