.flex-container {
  display: flex;
  margin: 0px 0px 0px 20px;
}

.sidebar {
  width: 35%;
}



.location {
  margin: 30px 10px 0px 0px;
}

.small-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(38, 0, 255, 1);
  top: 50%;
  left: 50%;
  margin: -2.5px 0px 0px -2.5px;
}

